async function ejecutarSubida() {
    const input = document.getElementById('archivoInput');
    const status = document.getElementById('status');
    const file = input.files[0];

    if (!file) return alert("Selecciona un archivo primero");

    status.innerText = "💾 Guardando en tu disco duro...";

    // Preparamos el archivo para enviarlo a Python
    const formData = new FormData();
    formData.append('archivo', file);

    try {
        const respuesta = await fetch('/subir-a-pc', {
            method: 'POST',
            body: formData
        });

        if (respuesta.ok) {
            const linkDescarga = await respuesta.text();
            status.innerHTML = `✅ ¡GUARDADO EN TU PC! <br><br> 
                                <a href="${linkDescarga}" target="_blank" 
                                style="color:black; background:#00ff88; padding:10px; text-decoration:none; font-weight:bold;">
                                VER ARCHIVO LOCAL</a>`;
        } else {
            status.innerText = "❌ Error al guardar en el disco.";
        }
    } catch (err) {
        status.innerText = "❌ No se pudo conectar con el servidor local.";
    }
}